-- AlterTable
ALTER TABLE "MockRound" ALTER COLUMN "startPrice" SET DATA TYPE DECIMAL(20,8),
ALTER COLUMN "poolUp" SET DATA TYPE DECIMAL(20,8),
ALTER COLUMN "poolDown" SET DATA TYPE DECIMAL(20,8),
ALTER COLUMN "totalPool" SET DATA TYPE DECIMAL(20,8);

-- AlterTable
ALTER TABLE "MockLeaderboard" ALTER COLUMN "balance" SET DEFAULT 1000,
ALTER COLUMN "balance" SET DATA TYPE DECIMAL(20,8),
ALTER COLUMN "pendingWinnings" SET DEFAULT 0,
ALTER COLUMN "pendingWinnings" SET DATA TYPE DECIMAL(20,8);

-- AlterTable
ALTER TABLE "MockBet" ALTER COLUMN "amount" SET DATA TYPE DECIMAL(20,8),
ALTER COLUMN "predictedPrice" SET DATA TYPE DECIMAL(20,8);

-- AlterTable
ALTER TABLE "MockPlatformStat" ALTER COLUMN "totalVxlmDistributed" SET DATA TYPE DECIMAL(20,8);

